# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# output files
ASTEx/output/*
ASTEx/fail/*
ASTEx/tests/*.oracle
ByteCodeEx/output/*
ByteCodeEx/fail/*
CompilerEx/output/*
CompilerEx/fail/*
GCEx/output/*
GCEx/fail/*
TagOptEx/output/*
TagOptEx/fail/*
JITEx/output/*
JITEx/fail/*
InlineCache/output/*
InlineCache/fail/*
*.aux
*.bbl
*.blg
*.log
*.pdf
*.hgtags

# the compiled binary
ASTEx/cfeeny
ASTEx/cfeeny.dSYM*
ByteCodeEx/cfeeny
ByteCodeEx/cfeeny.dSYM*
CompilerEx/cfeeny
CompilerEx/cfeeny.dSYM*
GCEx/cfeeny
GCEx/cfeeny.dSYM*
GCEx/bc_printer
TagOptEx/cfeeny
TagOptEx/cfeeny.dSYM*
JITEx/cfeeny
JITEx/cfeeny.dSYM*
JITEx/assembly/bin/*
JITEx/tmp/*
InlineCache/cfeeny
InlineCache/cfeeny.dSYM*
InlineCache/assembly/bin/*
InlineCache/tmp/*
